* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Press Start 2P', cursive;
  background-color: #020617;
  color: #f3f4f6;
}

:root {
  --background-medium: #111827;
  --background-hover: #374151;
}
main {
  margin-bottom: 20rem;
}
h1 {
  margin: 4.8rem;
  text-align: center;
  font-size: 4.8rem;
}

.pointer {
  cursor: pointer;
}
.blocked {
  cursor: not-allowed;
}
.hide {
  display: none;
}
.vert-align--top {
  vertical-align: baseline;
}
h2 {
  text-align: center;
}
/*******************************/
/*Indicators and Animations*/
/*******************************/
.indicator {
  position: relative;
  display: none;
  opacity: 1;
  transition: all 1.5s;
  text-align: center;
}
.indicator--heart {
  top: -30rem;
}
.indicator--heart p {
  margin-bottom: 1.2rem;
}
.indicator--heart--on-victory {
  top: -15rem;
  opacity: 0;
}
.victory {
  top: -20rem;
  margin: 4.8rem;
  font-size: 8rem;
}
.indicator-victory {
  opacity: 0;
  top: -45rem;
}

.animate--shake {
  animation: shake 1s ease 0s 1 normal forwards;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60% {
    transform: translateX(10px);
  }

  80% {
    transform: translateX(8px);
  }

  90% {
    transform: translateX(-8px);
  }
}

/*******************************/
/*Tables and Board*/
/*******************************/
.board--easy {
  width: 33rem;
}
.info-table {
  margin: auto;
  height: 8rem;
  background-color: var(--background-medium);
}
.info-table--easy {
  width: 32.6rem;
}
.info-table--medium {
  width: 65.28rem;
}
.info-table--hard {
  width: 98rem;
}
.difficulty-table {
  width: 33rem;
}
.marked--overflow {
  color: #dc2626;
}
table {
  margin: auto;
}

.cell {
  height: 8rem;
  width: 8rem;
  text-align: center;
  font-size: 1.6rem;
  transition: all 0.15s;
}
.chosen-diff {
  font-size: 2.4rem;
}
.cell--board {
  background-color: var(--background-medium);
}
.cell--board:hover {
  background-color: var(--background-hover);
}
.cell--board--marked-safe {
  background-color: #14532d;
}
.cell--img {
  height: 3.8rem;
  width: 3.8rem;
}
/*******************************/
/*Cheats*/
/*******************************/
.hearts {
  width: 32.6rem;
  margin: auto;
  padding: 2.4rem 1.6rem;
  background-color: var(--background-medium);
  text-align: center;
}
.hearts--easy {
  width: 32.6rem;
}
.hearts--medium {
  width: 65.28rem;
}
.hearts--hard {
  width: 98rem;
}
.icon {
  width: 3.2rem;
}
.toggle-cheats-btn {
  font-family: inherit;
  border: none;
  color: inherit;
  padding: 0.5rem 1.2rem 0.8rem;
  border-radius: 4px;
  background-color: var(--background-medium);
  transition: all 0.1s;
}
.toggle-cheats-btn:hover {
  background-color: var(--background-hover);
}
.arrow {
  font-size: 2.4rem;
}
.cheats {
  position: absolute;
  top: 26.4%;
  background-color: var(--background-medium);
  width: 30rem;
  height: 50.9rem;
  opacity: 0;
  transition: all 0.3s;
  transform: scale(0.75) translate(0, 50%);
}
.cheats-row {
  height: 4rem;
  width: 8rem;
}
.cheats-row:first-child {
  padding: 2.4rem;
}
.cheats-cell {
  text-align: center;
}
.hint {
  transition: all 0.2s;
  border-radius: 50%;
}
.hint-clicked {
  box-sizing: content-box;
  padding: 1.2rem;
  transform: translateY(-0.8rem);
}
.hint-clicked--background {
  background-color: #fde047;
}
.reveal-cheats {
  opacity: 1 !important;
  transform: scale(1) translate(0, 0);
}
.safe-clicks {
  height: 10rem;
}
.safe-click-btn--cell {
  width: 10rem;
}
.safe-click-btn {
  font-family: inherit;
  padding: 1.2rem 0;
  border: none;
  color: inherit;
  line-height: 1.5;
  border-radius: 4px;
  background-color: var(--background-medium);
  transition: all 0.2s;
}
.safe-click-btn:hover {
  background-color: var(--background-hover);
}
.safe-clicks-remaining {
  text-align: center;
}
footer {
  text-align: center;
  margin-top: auto;
  margin-bottom: 8rem;
}
